Body {
  background: rgb(137, 91, 247);
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  background-color: blueviolet;
}
