Body {
  background: rgb(0, 0, 0);
  color: antiquewhite;
}

.nav-class {
  background-color: rgb(249, 255, 65);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  position: sticky;
  top: 0px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  display: flex;

  margin-right: 20px;
}

.logo {
  font-size: 20px;
  color: black;
}

h1 and h2 {
  background-color: rgb(66, 17, 17);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: antiquewhite;
  margin: 100px;
  padding: 10px;
}

p {
  background-color: rgb(62, 28, 95);
  font-family: Helvetica, sans-serif;
  color: antiquewhite;
  margin: 5px;
  padding: 10px;
}

a {
  color: rgb(150, 169, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.text-box {
  width: 70vw;
  height: auto;
  margin: 10px;
}

.margins-box {
  background-color: blue;
  margin: 200px;
}

.borders-box {
  background-color: blue;
  border: solid;
}

.padding-box {
  background-color: blue;
  padding: 40px;
}

.box {
  max-width: 30vw;
  max-height: 30vw;
}

span.emphatic-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#unique-photo-border {
  border: 2px solid blueviolet;
}

.mid-page-image {
  width: 70vw;
  max-width: 1000px;
  height: auto;
  margin: 10px;
}

.code-screenshots {
  width: 70vw;
  max-width: 600px;
  height: auto;
  margin: 10px;
}

.about-me {
  background-color: rgb(255, 0, 128);
  margin: 5px;
  padding: 10px;
  max-width: 200px;
  /* position: relative; */
}

.about-me-table {
  /* position: absolute; */
}

/*borders for tables*/
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.RWD {
  max-width: 2000px;
  margin: 2em auto;
}

.RWD-box-1,
.RWD-box-2 {
  background-color: rgb(255, 128, 0);
}

@media (min-width: 700px) {
  .RWD {
    display: flex;
  }
}
